<!DOCTYPE html>
<html lang="{{ site.lang | default: 'sl' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% seo %}
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="new-site">
    <main>
      {{ content }}
    </main>
    {% if site.google_analytics %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
