---
layout: default
title: Articles (EN)
---
<p class="post-list-heading">Articles (English)</p>
{% include search.html %}
<ul class="post-list">
  {% assign articles_sorted = site.articles | sort: 'date' | reverse %}
  {% for post in articles_sorted %}
  <li>
    <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    {% if post.author %}
    <span class="post-category">{{ post.author }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
